---
title: Información
layout: layouts/base.njk
permalink: /blog/
eleventyNavigation:
  key: Información
  order: 2
---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
