---
title: Casa
layout: layouts/base.njk
---

<body class="bg-[#FEFC54]">
</body>

<div class="space-y-8 mx-auto sm:max-w-4xl lg:max-w-6xl sm:px-4 lg:px-20">
  <div class="flex flex-col-reverse mt-4 sm:mt-0 sm:flex-row sm:-mx-2 lg:px-0">
    <div class="sm:w-1/2 sm:-mx-2">
      <div class="sm:h-72">
      </div>
      <p class="font-ibm_plex justify-center my-8 sm:my-0 px-4 mx-10 sm:mx-0 sm:px-4 sm:leading-3 md:leading-12 sm:px-0 text-3xl sm:justify-start sm:text-4xl md:text-5xl">❛ Un hogar con jardín sobre el rio, unos días <b>únicos</b> en Colonia ❜
      </p>
      <div class="mx-12 sm:mx-0 my-8 sm:my-4" style="border-bottom: 2px solid black"></div>
      <div class="flex">
        <p class="w-4/5 mx-14 sm:mx-0">Casa completa para seis personas en el casco histórico de Colonia del Sacramento, Uruguay.</p>
        <div class="w-1/5 text-right">
      </div>
      </div>  
    </div>
  
  <div class="sm:w-1/2 my-14 sm:my-8 mx-12 shrink-0"><img class="w-full sm:h-[36rem] my-rotate drop-shadow-2 xl rounded-md" src="/img/Casa Colonia Vertical.jpg"></img></div>
 </div>    
</div>


  

